DB_POSTGRES_USER=dummy_user
DB_POSTGRES_PASSWORD=dummy_password
DB_POSTGRES_DB=db_name
DB_HOST=db
DB_PORT=5432
DB_SSL_MODE=disable
DB_ENCRYPTION_SALT=dummy_salt
DB_MASTER_KEY=dummy_key

API_ADMIN_EMAIL=admin@gmail.com
API_ADMIN_PASSWORD=admin_pwd
API_JWT_SECRET=dummy_secret
API_JWT_EXPIRATION_HOURS=1
API_ENABLE_API_SPEC=true

GIT_CREATE_DEPLOY_KEY=true
GIT_REPO=dummy_repo_url
GIT_BRANCH=main
GIT_POLLING_INTERVAL=5 

DATA_DIR=/var/lib/shogun
DEBUG=false  